img.left {
  width: 80px;
  /*margin-right: 20px;
  position: absolute;*/
  top: 10%;
  left: 10%;
  float: left; 
}

.box {
  width: 97%;
  height: 120px;
  background-color:#2E798A;
  border-radius: 7px;
  padding: 10px;
  top:10%;
  left:15%;
 
  
}

.text_white{
  text-align:center;
  font-size: 50px;
  color:#FFFFFF;
   
}

.footer_page{
  width: 97%;
  height: 60px;
  

  background-color:#2E798A;
  border-radius: 7px;
  
  padding: 10px;
  top:10%;
  left:15%;
}

.rigths{
  text-align:center;
  font-size: 14px;
  color:#FFFFFF;

}

.update{
  text-align:center;
  font-size: 12px;
  color:#ffff00;
}
       